:root {
    --neutral: #EFEFEF;
    --carbon: #a9a9a9;
    --text: #413f3f;
    --sky: #CAEBF2;
    --darksky: #61d6f0;
    --watermelon: #FF3B3F;
    --border-radius: 1rem;

    --main-bg: #10162f;
    --main-text: #66c4ff;
    --alt-text: #f5fcff;
    
}


html,body
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    overflow-x: hidden; 
    color: var(--text);
    background-color: var(--neutral);
}


main {
    width: 90%;
    margin: 0 auto;
    display: block;
    
}



/* Nav styling */

nav {
    display: inline-flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto 0.5rem 0;
    position: sticky;
    left: 5%;
    top: 0;
    width: 90%;
    font-size: 1.25rem;
    background-color: var(--neutral);
    z-index: 2;
    border-bottom: 1px solid var(--watermelon);
}

.nav-left h1{
    display: inline-block;
    margin: 0.5rem;
}

.nav-left h1:hover{
    color: var(--watermelon)
}

.nav-right li{
    display: inline-block;
    margin: auto 0.5rem;
}

.nav-right li:hover {
    color: var(--watermelon)
}

nav i {
    color: var(--watermelon)
}

nav i:hover {
    color: var(--darksky)
}

nav h1 {
    margin: 0;
}

/* about section */

.about h2 {
    margin: 1rem auto 0 auto;
    font-size: 1.75rem;
}

.about-title {
    text-align: center;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: top;
    margin: 0 0.5rem;
    font-size: 1.25rem;
    padding: 1rem;
}

.about-container {
    display: flex;
    box-sizing: border-box;
}

.about-container img {
    border-radius: var(--border-radius);
    height: auto;
}

/* education section */

.education {
    margin: 3rem auto;
}

.education h2 {
    text-align: center;
    margin: 1rem auto;
    font-size: 1.75rem;
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.edu-card {
    width: 30%;
    background-color: var(--sky);
    border-radius: var(--border-radius);
    padding: 0 0.5rem;
    border: 1px solid var(--watermelon)
}

/* projects section */

.projects {
    text-align: center;
    margin: 3rem auto;
}

.projects h2 {
    margin: 1rem auto;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;

}

.project-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 30%;
    height: fit-content;
    background-color: var(--sky);
    border-radius: var(--border-radius);
    padding: 0 0.5rem;
    border: 1px solid var(--watermelon)
}

.project-card button {
    background-color: var(--watermelon);
    margin: 0.5rem auto;
    border-radius: var(--border-radius);
}

.project-card button:hover {
    opacity: 0.8;
}

.project-card img {
    border-radius: var(--border-radius);
    max-height: 20rem;
}

.details {
    padding: 1rem;
}

.details a {
    margin-right: 1rem;
}


#cs-details {
    display: none;
}

#tc-details {
    display: none;
}

#cc-details {
    display: none;
}


/* skills container */
.skills h2 {
    text-align: center;
    margin: 1rem auto;
    font-size: 1.75rem;
}

.skills-container {
    display: flex;
    justify-content: space-between;
}

.skills-container i {
    color: var(--watermelon);
    font-size: 3rem;
}

/* contact container */

.contact {
    margin: 3rem auto;
}

.contact h2{
    text-align: center;
    margin: 1rem auto;
    font-size: 1.75rem;
}

.contact-container {
    display: flex;
    justify-content: center;
}

.contact-container i {
    color: var(--watermelon);
    font-size: 3rem;
    margin: 1rem;
}

@media only screen and (max-width: 900px) {
    .about-container {
        max-height: 90vh;
        max-width: 100vw;
        overflow: scroll;
        font-size: 0.5rem;
    }

    .about-container img{
        max-height: 20rem;
        max-width: 20rem;
    }
}

@media only screen and (max-width: 600px) {
    .education-container {
        justify-content: center;
    }
    .edu-card {
        width: 45%;
    }
    
    .projects-container {
        justify-content: center;
    }
    
    .project-card {
        width: 45%;
    }

    .about-container {
        display: block;
    }

    .about-container img {
        display: block;
        margin: 0 auto;
    }
}