:root {
    --neutral: #EFEFEF;
    --carbon: #a9a9a9;
    --text: #413f3f;
    --sky: #CAEBF2;
    --watermelon: #FF3B3F;
    --border-radius: 1rem;
}


html,body
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    overflow-x: hidden; 
    color: var(--text);
    background-color: var(--neutral);
}


main {
    width: 90%;
    margin: 0 auto;
    display: block;
    
}



/* Nav styling */

nav {
    display: inline-flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2rem;
    position: sticky;
    left: 5%;
    top: 0;
    width: 90%;
    border-radius: var(--border-radius);
    font-size: 1.25rem;
}

.nav-left {
}

.nav-right li{
    display: inline-block;
    margin: auto 0.5rem;
}

nav i {
    color: var(--watermelon)
}

nav h1 {
    margin: 0;
}

/* about section */
.about {
    background-color: orange;
}

.about-title {
    text-align: center;
}

.about-container {
    display: flex;
}

.about-container img {
    border-radius: var(--border-radius);
}

/* education section */

.education {
    background-color: lightblue;
}

.education h2 {
    margin: 0 auto 1rem auto;
    text-align: center
}

.education-container {
    display: flex;
    flex-wrap: wrap
}

.edu-card {
    width: 33%
}

/* projects section */

.projects {
    background-color: orange;
    text-align: center;
}

.projects h2 {
    margin: 0 auto;
}

.projects-container {
    display: flex;
    flex-wrap: wrap

}

.project-card {
    width: 33%;
    overflow: hidden;
}

.project-card img {
    max-width: 90%;
    max-height: 60%;
}

/* skills container */

.skills {
    background-color: lightblue;
}

.skills-container {
    display: flex;
}

.skills-container i {
    color: var(--watermelon);
    font-size: 3rem;
}

/* contact container */

.contact {
    background-color: orange;
}

.contact-container i {
    color: var(--watermelon)
}